.header_container {
    height: 92px;
    box-sizing: border-box;
    padding: 30px 15px;
    display: flex;
    /* justify-content: space-around; */
}

.title_name {
    width: 75vw;
    color: #314BFF;
    font-weight: bold;
    font-size: 1.4em;
    padding-left: 135px;
    box-sizing: border-box;
}

.header_right {
    width: 25vw;
    padding-left: 10em;
}

.title_name > span {
    font-style: italic;
    font-weight: normal;
}

.contact > .label {
    margin: 0px 10px;
    font-family: "Charlie Text";
    font-size: 16px;
    line-height: 20px;
    color: #252536;
}