.anmeldungContainer {
    box-sizing: border-box;
    padding: 30px 100px;
}

.image_anmeldung {
    height: 107px;
    width: 107px;
    margin-left: 50px;
}

.label1 {
	color: #252536;
	font-family: "Charlie Text";
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
}

.label2 {
	color: #8D8DA1;
	font-family: "Charlie Text";
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
}

.typeLeft {
    width: 75%;
}

.typeRight > .infoIcon {
    color: #314BFF;
}

.typeRight > .infoQuestn {
    margin: 0px 10px;
    color: #314BFF;
	font-family: "Charlie Text";
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
}

.middleContainer {
    padding: 5px;
}

.middleLeft {
    box-sizing: border-box;
	height: 255px;
	width: 322px;
	border: 1px solid #F0F0F0;
    border-radius: 6px;
    margin-left: 40px;
    padding: 30px;
}

.block {
    margin: 25px 0px;
}

.block > .fa {
    margin: 5px 15px 5px 0px;
}

.how-it-works {
	color: #252536;
	font-family: "Charlie Text";
	font-size: 20px;
	font-weight: 600;
    line-height: 25px;
    margin-bottom: 10px;
}

.questn1 {
	color: #252536;
	font-family: "Charlie Text";
	font-size: 14px;
	font-weight: 600;
	line-height: 17px;
}

.questnDesc {
	color: #8D8DA1;
	font-family: "Charlie Text";
	font-size: 13px;
	font-weight: 300;
    line-height: 17px;
    margin-top: 5px;
}